<div class="header">

  <a class="headerLink" href="/">Home</a>
  <a class="headerLink" href="/trips/map">Map</a>
  <a class="headerLink" href="/trips">Trips</a>




  <% if(locals.isAuthenticated) { %>
    <a class="headerLink" href="/logout">Logout</a>
    <a class="headerLink" href="/users/<%= user.id %>">My Page</a>
    <a class="headerLink" href="/trips/new">New Trip</a>
  <% } else { %>
    <a class="headerLink" href="/login">Login or Register</a>
  <% } %>



  <span class="headerUserSection">
    <span class="alert">
      <% if(!locals.isAuthenticated) { %>
        you are not logged in
      <% } %>
    </span>

    <% if(locals.isAuthenticated) { %>
      hello : <%= user.username %>
    <% } %>
  </span>

</div>

<div>
  <a href="/trips/new"><div class="addButton">Add your trip</div></a>
</div>
