Header
<a href="/">Index</a>
<a href="/trips/map">Map</a>
<a href="/trips">trips</a>

<a href="/trips/new">trips-new</a>

<a href="/login">login</a>
<a href="/logout">logout</a>
<a href="/users">users-all</a>

<a href="/login">Register</a>

<a href="/"></a>

<span class="alert">
  <% if(locals.isAuthenticated) { %>
    You are logged in
  <% } else { %>
    you are not logged in
  <% } %>
</span>

<% if(locals.isAuthenticated) { %>
  hello : <%= locals.user.username %>
<% } %>
<hr>
