

<div class="indexSearchForm">
  <form class="indexForm" id="indexForm" method="get" action="">
    <label>Search</label>
    <input class="indexFormText" type="text" name="q" value="Winter" placeholder="search trips">
    <input type="text" name="w" value="Where" placeholder="search where">
    <input type="button" value="List!" onclick="listResults()">
    <input type="button" value="Map!" onclick="mapResults()">
  </form>
</div>

<script>
  form=document.getElementById("indexForm");
  function listResults() {
    console.log('list');
    form.action="/trips";
    form.submit();
  }
  function mapResults() {
    console.log('map');
    form.action="/trips/map"
    form.submit();
  }
</script>
