
  <h1>
    <div>
      <form class="indexForm" method="get" action="/trips">
        <label>Search</label>
        <input class="indexFormText" type="text" name="q" value="Winter" placeholder="search trips">

        <button class="butt">List</button>
        <%# <a href="/trips/map"><span class="butt2">Map</span></a>%>
      </form>

    </div>
  </h1>
