

<div class="indexSearch">
  <form class="indexForm" id="indexForm" method="get" action="">
    <label>Search...</label><br>
    <input class="indexFormInput" type="text" name="q" value="Winter" placeholder="season">
    <input class="indexFormInput" type="text" name="w" value="Where" placeholder="destination">
    <input class="button" type="button" value="List" onclick="listResults()">
    <input class="button" type="button" value="Map" onclick="mapResults()">
  </form>
</div>

<script>
  form=document.getElementById("indexForm");
  function listResults() {
    console.log('list');
    form.action="/trips";
    form.submit();
  }
  function mapResults() {
    console.log('map');
    form.action="/trips/map"
    form.submit();
  }
</script>
