<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>project-2</title>
    <% include ./partials/_script %>
    <% include ./partials/_style %>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>


    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <p>

    </p>


    <main>
      <%- body %>

    </main>
  </body>
</html>
