body {
  background-color: white;
  color: grey;
}

.outline {
  border: 1px solid black;
  min-width: 300px;
  max-width: 600px;
  padding: 30px;
  margin: 20px;
}

.alert {
  color: red;
  padding: 0 20px;
}

#map {
  height: 400px;
  width: 100%;
 }
