index
<h1> project-2 </h1>


Show me <a href="/trips">trips</a>


<form method="get" action="/trips">
  <label>Search</label>
  <input type="text" name="q" value="Winter" placeholder="search gifs">
  <input type="submit" value="Go!">
</form>



<% trips %><br>
<hr>

<div class="outline">
  <ul>
    <% trips.forEach((trip) => { %>
      <li class="none">
        <div class="outline">
          here
          <%= trip.title %>
        <img src="<%= trip.imageHero %>">
        </div>
      </li>
    <% }); %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="..." alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="..." alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="..." alt="Third slide">
        </div>
      </div>
    </div>
  </div>
</div>
