      <img class="d-block img-huw-large" src="<%=trips[0].imageHero %>" alt="First slide">

<div id="hero">
  <h1>
    <div>
      <form method="get" action="/trips">
        <label>Search</label>
        <input type="text" name="q" value="Winter" placeholder="search trips">

        <button class="butt1">List</button>
        <a href="/trips/map"><span class="butt2">Map</span></a>
      </form>

    </div>
  </h1>



  <div class="authorImage">
    Author

  </div>

</div>
