      <img class="d-block img-huw-large" src="<%=trips[0].imageHero %>" alt="First slide">

<div id="hero">
  <h1>
    <form method="get" action="/trips">
      <label>Search</label>
      <input type="text" name="q" value="Winter" placeholder="search trips">
      <input type="submit" value="List">

    </form>
    <a href="/trips/map"><button>Map</button></a>
  </h1>



  <div class="authorImage">
    Author

  </div>

</div>
