<div class="fullScreen" style="background-image:url(<%=trips[0].imageHero %>);">


<div id="hero">
  <h1>
    <div>
      <form class="indexForm" method="get" action="/trips">
        <label>Search</label>
        <input class="indexFormText" type="text" name="q" value="Winter" placeholder="search trips">

        <button class="butt">List</button>
        <%# <a href="/trips/map"><span class="butt2">Map</span></a>%>
      </form>

    </div>
  </h1>



  <div class="authorImage">
    Author

  </div>

</div>
</div>


__________________________________________________________________
index
<h1> project-2 </h1>

<%= imageArray %><br>
<hr>

<div class="outline">
  <ul>
    <% imageArray.forEach((pic) => { %>
      <li class="none">
        <div class="outline">
          here
          <img src="<%=pic%>">
        </div>
      </li>
    <% }); %>
  </ul>
</div>

+++++++++++++++++++++++++++++++++++

<div class="container-fluid">
  <div class="row">
    <div class="col-12 clearHeader"></div>
  </div>

  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-12 clearHeader"></div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
  <div class="row">
    <div class="col-12 clearHeader"></div>
  </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">







      </div>
    <div class="col-md-1"></div>
  </div>
</div>
