index
<h1> project-2 </h1>

<%= imageArray %><br>
<hr>

<div class="outline">
  <ul>
    <% imageArray.forEach((pic) => { %>
      <li class="none">
        <div class="outline">
          here
          <img src="<%=pic%>">
        </div>
      </li>
    <% }); %>
  </ul>
</div>
